.cash-socials {
	position: absolute;
	bottom: 1%;
	left: 1%;
	z-index: 1000;
}

.cash-socials > a {
	font-size: 18px;
	color: black;
	hover: dodgerblue;
	margin-left: 10px;
}

.cash-socials > a:hover {
	color: dodgerblue;
}

ol#list-vlogs-yt > li {
	padding-right: 10%;
	margin-top: 10%;
}

.vlog-yt {
	width: 100%;
}

.fa-map-marker {
	margin-left: 2%;
	cursor: pointer;
}

.vlog-attractions {
	display: none;
}

button {
	width: 100px;
	background-color: white;
	border-color: green;
	border-width: 1.5px;
	/* border: 1.5px solid green; */
	border-radius: 4px;
	cursor: pointer;
}

.li-vlog-attractions {
	list-style-type: none;
	margin-bottom: 5%;
}
